name: CI/CD Pipeline - Spring Boot

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-test-analyze-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      - name: Build and run tests with Maven
        run: mvn clean verify

      - name: SonarCloud Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn verify sonar:sonar \
            -Dsonar.projectKey=narutouzumaki_Prueba2 \
            -Dsonar.organization=narutouzumaki \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}

      - name: Build Docker image
        run: docker build -t prueba2-app .

      - name: Deploy to simulated environment
        run: docker compose -f docker-compose.yml up -d

      - name: Clean up
        if: always()
        run: docker compose -f docker-compose.yml down
